<!DOCTYPE html>
<html>
<head>
  <title>Cm page builder rails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "cm_page_builder/rails/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
